.icon_burger_open {
  display: none;
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  padding: 2vh;
  border-radius: 100%;
  background-color: rgb(212, 212, 212);
  width: 2vh;
  height: 2vh;
  cursor: pointer;
}

.icon_moon_open {
  display: none;
  position: fixed;
  bottom: 1.5vh;
  right: 7.5vh;
  padding: 2vh;
  border-radius: 100%;
  background-color: rgb(212, 212, 212);
  width: 2vh;
  height: 2vh;
  cursor: pointer;
}

@media (max-width: 740px) {
  .icon_burger_open {
    display: block;
  }

  .icon_moon_open {
    display: block;
  }
}
