.logo{
    margin-top: 15px;
    margin-left: 10px;
}

.logoHands{
    display: none;
}

.sectionLogoAndSend{
    display: flex;
    flex-direction: column;
}

.iconLocationAndSend{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}




@media (max-width: 740px) {
    .logoHands{
        width: 7vh;
        height: 4vh;
        margin-top: 3px;
        display: block;

    }
    .iconLocationAndSend{
        display: none;
    }

    .sectionLogoAndSend{

        margin: 0;
        padding: 0;
        margin-top: 5px;
    }

    .logo{
        display: none;
    }

    .send{
        display: none;
    }

    .iconLocation{
        display: none;
    }

}