.ul_Perfil {
  margin-top: 5px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 3vh;
}

.ul_Perfil li {
  color: #333;
  font-size: 14px;
  margin-top: 5px;
}

.iconCart {
  margin-top: 7px;
}

.iconMoon {
  margin-top: 7px;
}

@media (max-width: 1400px) {
  .ul_Perfil {
    display: flex;
    flex-direction: column;
  }
  .ul_Perfil li {
    display: none;
  }

  .iconCart {
    padding: 1vh;
    border-radius: 100%;
    background-color: rgb(246, 246, 127);
    box-shadow: 1px 1px 2px 1px rgb(193, 193, 31);
  }

  .iconMoon {
    padding: 1vh;
    border-radius: 100%;
    background-color: rgb(246, 246, 127);
    box-shadow: 1px 1px 2px 1px rgb(193, 193, 31);
  }

  .section_perfil {
    margin-left: 2vh;
  }
}

@media (max-width: 740px){
     .ul_Perfil{
      margin: 0;
      padding: 0;
      width: 40px;
      margin-left: 3px;
      margin-top: 5px;

     }
     .iconMoon{
       display: none;
     }

     .iconCart{
       border-radius: 10px;
     }

}
