.navegation {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 135vh;
}

.logo {
  width: 15vh;
}

.section_container {
  width: 23vh;
  padding: 2vh;
  display: flex;
  flex-direction: column;
}

.section_container .section_fontawesome {
  width: 20vh;
  padding-top: 10px;
  display: flex;
}

.section_container .send {
  margin-left: 1vh;
}

.send p:nth-child(1) {
  font-size: 12px;
  font-family: "Proxima-Nova";
  color: rgba(0, 0, 0, 0.5);
  font-family: sans-serif;
}
.send p:nth-child(2) {
  font-size: 14px;
  color: #333;
  font-family: sans-serif;
}

@media (max-width: 1400px) {
  .navegation {
    width: 95vh;
  }
  .send {
    display: none;
  }

  .iconLocation {
    display: none;
  }

  .section_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
  }
}
